* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #000;
    padding: 10px;
}

.container {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
}


nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    color: #7FA9CB;
}


.home {
    font-size: 20px;
    color: #FFFFFF;
}


.clone {
    color: #FFD3AF;
}

/* header and  */

.container2 {
    width: 1250px;
}

.image {
    align-items: center;
    justify-content: center;
    margin-left: 550px;
    margin-top: 100px;
}

.javena {
    margin-left: 600px;
    margin-top: 40px;
    width: 231px;
    height: 54px;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: black;
}

.truerich {
    margin-left: 500px;
    margin-top: 30px;
    width: 505px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.icon {
    margin-left: 650px;
    margin-top: 20px;
}

.container3{
    background-color: #ECF8F9;
}

.blog {
    width: 572px;
    height: 58px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin-left: 200px;
    margin-top: 131px;
}

.imga {
    display: flex;
    margin-left: 200px;
    background-color: #fff;
}

.today {
    margin-top: 40px;
    position: absolute;
    margin-left: 300px;
}

.imge {
    position: absolute;
    margin-left: 700px;
}

.container_nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
}